<page-header class="bg-blue-600" [nav]="['home','menu.product','menu.product.list']"></page-header>

<div fxLayout="row" fxLayoutAlign="space-between center">
  <mat-form-field floatLabel="never" fxFlex="30" class="m-r-8">
    <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
    <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <button class="m-r-8" mat-raised-button color="primary" routerLink="/product/create"><mat-icon>add</mat-icon> Add New</button>
</div>

<mtx-grid [data]="listData"
          [columns]="columns"
          [loading]="isLoading"
          [columnResizable]="false"
          [rowHover]="true"
          [rowStriped]="true"
          [showToolbar]="true"
          [toolbarTitle]="'Product Grid Toolbar'"
          [pageOnFront]="true"
          [showPaginator]="true"
          [pageSizeOptions]="[10,20,30]"
          [pageIndex]="0"
          [pageSize]="10">
</mtx-grid>
