mat-card:first-child {
  margin-bottom: 15px;
}

mat-card:nth-child(2) {
  margin-bottom: 10px;
}

form {
  margin-bottom: 50px;
}

.service-row {
  position: relative;
}

.symbol {
  align-self: center;
  padding-bottom: 6px;
  color: rgba(0, 0, 0, .42);
}

.light-heading {
  margin: 10px 0 0;
}

.total-section {
  .mat-checkbox {
    margin: 0 7px;
  }

  .error {
    align-self: flex-end;
  }
}

.subTotal {
  margin-top: 15px;
  font-size: 16px;

  & > span {
    font-weight: 900;
    color: mat-color(#004f86);
    margin-left: 7px;
  }
}

:host ::ng-deep .no-wrapper .mat-form-field-wrapper {
  margin: 0 !important;
  padding: 0;
}

::ng-deep .no-wrapper .mat-form-field-wrapper .mat-form-field-flex > .mat-form-field-infix {
  padding: .9em 0 !important;
  border-top: .5em solid transparent;
  width: 120px;
}

/* table */
.th-center {
  text-align: center;
  justify-content: center;
}

.th-left {
  text-align: left;
  justify-content: left;
}

.th-right {
  text-align: right;
  justify-content: right;
}

.w-50 {
  max-width: 50px;
}

.w-75 {
  max-width: 75px;
}

.w-100 {
  max-width: 100px;
}

.w-200 {
  max-width: 160px;
}

mat-table mat-header-cell {
  border-top: 1px solid rgba(0, 0, 0, .12);
  border-right: 1px solid rgba(0, 0, 0, .12);
}

mat-table mat-header-cell:first-child {
  border-left: 1px solid rgba(0, 0, 0, .12);
}

mat-table mat-cell:first-child {
  border-left: 1px solid rgba(0, 0, 0, .12);
}

mat-table mat-cell {
  border-right: 1px solid rgba(0, 0, 0, .12);
}

mat-cell:first-of-type,
mat-header-cell:first-of-type,
mat-footer-cell:first-of-type {
  padding-left: 0 !important;
}

mat-cell:last-of-type,
mat-header-cell:last-of-type,
mat-footer-cell:last-of-type {
  padding-right: 0 !important;
}

.hide {
  display: none;
}
